/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0px;
	/* remove scrollbar space */
	height: 7px;
	background: transparent;
	/* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px transparent;
	border-radius: 10px;
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #E6E6FA;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #D3D3D3;
}

html, .dataTables_scrollBody, .full-height-scroll
{
    scrollbar-width: none; 
}

#tableList_wrapper, #tableCeklistDoc_wrapper{
	font-size: 11px !important;
}


/* DATATABLE CUSTOM CSS */
/*========================================*/
.dataTables_scrollBody{
	max-height: 360px !important;
}

.dataTables_wrapper .row:first-child {
	background-color: white !important;
	margin-bottom: 5px !important;
	margin-top: 1px !important;
}

.dataTables_wrapper .row:nth-child(3) {
	background-color: white !important;
	margin-top: 5px !important;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-5 .dataTables_info {
	display: inline-block;
	border-radius: 10px;
	border: 1px solid #A9A9A9;
	width: auto;
	padding: 3px 12px;
	font-size: 11px;
	color: #808080;
	height: 25px;
	margin-top: 10px;
}

.dataTables_wrapper .row:first-child .col-sm-6 {
	color: #808080;
}

.dataTables_wrapper .row:first-child .col-sm-6 .dataTables_length select {
	border-radius: 10px;
	border: 1px solid #A9A9A9;
	height: 25px;
    width: 70px;
    padding-top: 0px;
    font-size: 12px;
    padding-bottom: 0px;
}

.dataTables_wrapper .row:first-child .col-sm-6:nth-child(2) .dataTables_filter input {
	color: #808080;
	border-radius: 10px !important;
	border: 1px solid #A9A9A9;
	height: 25px;
	width: 150px;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 li:first-child a {
	border-radius: 10px 0px 0px 10px !important;
	border: 1px solid #C0C0C0;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 li:last-child a {
	border-radius: 0px 10px 10px 0px !important;
	border: 1px solid #C0C0C0;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 li a {
	border: 1px solid #C0C0C0;
}

.dataTables_wrapper .dataTables_processing {
	position: relative;
	text-align: center;
	font-size: 1.2em;
	color: #A9A9A9;
	border-radius: 5px !important;
	border: 1px solid #e0e0e0;;
	height: 15px !important;
	line-height: 1px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 2px #b9b9b9;
	opacity: 1;
	margin-top: -15px !important;
}

.dataTables_wrapper tr th,
.dataTables_wrapper tr td,
#tblPreview tr th {
	width: auto;
	white-space: nowrap;
}

.dataTables_scroll {
	font-size: 11px;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
}

.customTable {
	border-collapse: collapse;
}

.customTable td,
.customTable th {
	border-bottom: 1px solid #ddd;
	padding: 5px 8px;
}

#colspanColumn {
	border-bottom: 1px solid #ddd !important;
}

.customTable th {
	text-align: center;
	vertical-align: middle;
}

.customTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

#table_wrapper {
	padding-bottom: 10px;
}

table.dataTable{
	margin-top: 0px !important;
}

/* DATATABLE CUSTOM CSS */
/*========================================*/


/*Desired page in pagination with DataTables CUSTOM CSS*/
/*========================================*/
.dataTables_wrapper .row:nth-child(3) .col-sm-7 .dataTables_paginate .first.paginate_button {
	display: inline-block;
	width: auto;
	border-radius: 10px 0px 0px 10px !important;
	border: 1px solid #C0C0C0;
	padding: 3px 12px;
	height: 25px;
	margin-top: 10px;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 .dataTables_paginate .previous.paginate_button,
.next.paginate_button {
	display: inline-block;
	width: auto;
	border: 1px solid #C0C0C0;
	padding: 3px 12px;
	height: 25px;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 .dataTables_paginate .last.paginate_button {
	display: inline-block;
	width: auto;
	border-radius: 0px 10px 10px 0px !important;
	border: 1px solid #C0C0C0;
	padding: 3px 12px;
	height: 25px;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 .dataTables_paginate .previous.paginate_button+span,
.paginate_total {
	padding: 6px 4px;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 .dataTables_paginate input.paginate_input {
	display: inline-block;
	width: 50px;
	padding: 6px 4px;
	border-radius: 5px !important;
	border: 1px solid #C0C0C0;
	height: 25px;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 .dataTables_paginate .paginate_button {
	cursor: pointer;
	color: #777;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 .dataTables_paginate .paginate_button:hover {
	background-color: #00B5B8;
	color: #ffffff;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 .dataTables_paginate .paginate_button.disabled {
	cursor: not-allowed;
	color: #A9A9A9;
}

.dataTables_wrapper .row:nth-child(3) .col-sm-7 .dataTables_paginate .paginate_button.disabled:hover {
	background-color: transparent;
}

.dataTables_scrollHead{
	border-radius: 5px 5px 0 0;
	background-color: #9D9D9D;
    color: #fff;
}

.dataTables_wrapper{
	padding-bottom: 22px !important;
}

/*END Desired page in pagination with DataTables CUSTOM CSS*/
/*========================================*/


/*Dropzone CUSTOM CSS*/
/*========================================*/
.dropzone {
	border: 1px solid #00B5B8;
	border-style: dotted;
}

/*Dropzone CUSTOM CSS*/
/*========================================*/


/* Shadow */
.shadowBox {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.label-status:hover{
	cursor: pointer;
}

.picText:hover{
	cursor: pointer;
	background-color: #d0d0d0;
	border-radius: 5px;
	border: 1px solid #d0d0d0;
	padding: 1px;
}

/* Custom spinner */
@keyframes spinner {
	to {transform: rotate(360deg);}
}
  
.spinnerDisplay:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -10px;
	margin-left: -30px;
	border-radius: 50%;
	border: 3px solid #abe3d7;
	border-top-color: #1ab394;
	animation: spinner .6s linear infinite;
}

.addOpacity{
	opacity: 0.3;
}
/* Custom spinner */


#formPengajuan .form-control{
	background-color: #ffffff;
}

table td{
	vertical-align: baseline;
}

.mainNavigation{
	padding: 7px 40px;
    color: #ffffff;
    background-color: #17b39e;
	border-radius: 5px;
	font-size: 12px;
}

.justify-content-center{
	display: flex;
	justify-content: center;
}

.spanAdd{
	font-size: 11px;
	font-weight: 600;
}

.customContainer{
	margin-left: 5px;
	margin-right: 5px;;
}

#modalMasterList .modal-body{
    max-height: calc(100vh - 180px) !important;
    overflow-y: auto !important;
}

/** jQuery Smart Wizard  **/
.form_wizard .stepContainer {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0 solid #CCC;
	overflow-x: hidden; 
	background-color: #eee;
	padding: 0px 20px 5px;
	border-radius: 10px;
	color: #34495E;
}
  
  .wizard_horizontal ul.wizard_steps {
	display: table;
	list-style: none;
	position: relative;
	width: 100%;
	margin: 0 0 20px; }
  
  .wizard_horizontal ul.wizard_steps li {
	display: table-cell;
	text-align: center; }
  
  .wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
	display: block;
	position: relative;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	color: #666; }
  
  .wizard_horizontal ul.wizard_steps li a:before {
	content: "";
	position: absolute;
	height: 4px;
	background: #ccc;
	top: 20px;
	width: 100%;
	z-index: 4;
	left: 0; }
  
  .wizard_horizontal ul.wizard_steps li a.disabled .step_no {
	background: #ccc; }
  
  .wizard_horizontal ul.wizard_steps li a .step_no {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100px;
	display: block;
	margin: 0 auto 5px;
	font-size: 16px;
	text-align: center;
	position: relative;
	z-index: 5; }
  
  .wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
	background: #34495E;
	color: #fff; }
  
  .wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
	background: #1ABB9C;
	color: #fff; }
  
  .wizard_horizontal ul.wizard_steps li:first-child a:before {
	left: 50%; }
  
  .wizard_horizontal ul.wizard_steps li:last-child a:before {
	right: 50%;
	width: 50%;
	left: auto; }
  
  .wizard_verticle .stepContainer {
	width: 80%;
	float: left;
	padding: 0 10px; }
  
  .actionBar {
	width: 100%;
	border-top: 1px solid #ddd;
	padding: 10px 5px;
	text-align: right;
	margin-top: 10px; }
  
  .actionBar .buttonDisabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none; }
  
  .actionBar a {
	margin: 0 3px; }
  
  .wizard_verticle .wizard_content {
	width: 80%;
	float: left;
	padding-left: 20px; }
  
  .wizard_verticle ul.wizard_steps {
	display: table;
	list-style: none;
	position: relative;
	width: 20%;
	float: left;
	margin: 0 0 20px; }
  
  .wizard_verticle ul.wizard_steps li {
	display: list-item;
	text-align: center; }
  
  .wizard_verticle ul.wizard_steps li a {
	height: 80px; }
  
  .wizard_verticle ul.wizard_steps li a:first-child {
	margin-top: 20px; }
  
  .wizard_verticle ul.wizard_steps li a, .wizard_verticle ul.wizard_steps li:hover {
	display: block;
	position: relative;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	color: #666; }
  
  .wizard_verticle ul.wizard_steps li a:before {
	content: "";
	position: absolute;
	height: 100%;
	background: #ccc;
	top: 20px;
	width: 4px;
	z-index: 4;
	left: 49%; }
  
  .wizard_verticle ul.wizard_steps li a.disabled .step_no {
	background: #ccc; }
  
  .wizard_verticle ul.wizard_steps li a .step_no {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100px;
	display: block;
	margin: 0 auto 5px;
	font-size: 16px;
	text-align: center;
	position: relative;
	z-index: 5; }
  
  .wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
	background: #34495E;
	color: #fff; }
  
  .wizard_verticle ul.wizard_steps li a.done:before, .wizard_verticle ul.wizard_steps li a.done .step_no {
	background: #1ABB9C;
	color: #fff; }
  
  .wizard_verticle ul.wizard_steps li:first-child a:before {
	left: 49%; }
  
  .wizard_verticle ul.wizard_steps li:last-child a:before {
	left: 49%;
	left: auto;
	width: 0; }
  
  .form_wizard .loader {
	display: none; }
  
  .form_wizard .msgBox {
	display: none; }
  
  /** jQuery Smart Wizard  **/